@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pacifico/pacifico.eot");
  src: url("../fonts/pacifico/pacifico.eot?#iefix") format("embedded-opentype"), url("../fonts/pacifico/pacifico.woff") format("woff"), url("../fonts/pacifico/pacifico.ttf") format("truetype"), url("../fonts/pacifico/pacifico.svg#pacifico") format("svg"); }

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pacifico.eot");
  src: url("../fonts/pacifico.eot?#iefix") format("embedded-opentype"), url("../fonts/pacifico.woff") format("woff"), url("../fonts/pacifico.ttf") format("truetype"), url("../fonts/pacifico.svg#pacifico") format("svg"); }

.font-pacifico {
  font-family: "Pacifico", Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'Sansa Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sansa-pro/sansa-pro.eot");
  src: url("../fonts/sansa-pro/sansa-pro.eot?#iefix") format("embedded-opentype"), url("../fonts/sansa-pro/sansa-pro.woff") format("woff"), url("../fonts/sansa-pro/sansa-pro.ttf") format("truetype"), url("../fonts/sansa-pro/sansa-pro.svg#sansa-pro") format("svg"); }

.font-sansa-pro {
  font-family: "Sansa Pro", Verdana, Arial, sans-serif; }

@font-face {
  font-family: 'Sansa Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sansa-pro-bold/sansa-pro-bold.eot");
  src: url("../fonts/sansa-pro-bold/sansa-pro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sansa-pro-bold/sansa-pro-bold.woff") format("woff"), url("../fonts/sansa-pro-bold/sansa-pro-bold.ttf") format("truetype"), url("../fonts/sansa-pro-bold/sansa-pro-bold.svg#sansa-pro-bold") format("svg"); }

.font-sansa-pro-bold {
  font-family: "Sansa Pro", Verdana, Arial, sans-serif;
  font-weight: 700; }

@font-face {
  font-family: 'Fords Folly';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/forsd-folly/fords-folly.eot");
  src: url("../fonts/forsd-folly/fords-folly.eot?#iefix") format("embedded-opentype"), url("../fonts/forsd-folly/fords-folly.woff2") format("woff2"), url("../fonts/forsd-folly/fords-folly.woff") format("woff"), url("../fonts/forsd-folly/fords-folly.ttf") format("truetype"), url("../fonts/forsd-folly/fords-folly.svg#fordsfolly") format("svg"); }

@font-face {
  font-family: 'Fords Folly';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/forsd-folly/fords-folly.eot");
  src: url("../fonts/forsd-folly/fords-folly.eot?#iefix") format("embedded-opentype"), url("../fonts/forsd-folly/fords-folly.woff2") format("woff2"), url("../fonts/forsd-folly/fords-folly.woff") format("woff"), url("../fonts/forsd-folly/fords-folly.ttf") format("truetype"), url("../fonts/forsd-folly/fords-folly.svg#fords-folly") format("svg"); }

.font-fords-folly {
  font-family: "Fords Folly", Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'sunweb-icons';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts//sunweb-icons/fonts/sunweb-icons.eot?-nhl0i");
  src: url("../fonts//sunweb-icons/fonts/sunweb-icons.eot?#iefix-nhl0i") format("embedded-opentype"), url("../fonts//sunweb-icons/fonts/sunweb-icons.ttf?-nhl0i") format("truetype"), url("../fonts//sunweb-icons/fonts/sunweb-icons.woff?-nhl0i") format("woff"), url("../fonts//sunweb-icons/fonts/sunweb-icons.svg?-nhl0i#sunweb-icons") format("svg"); }

.icon {
  font-family: 'sunweb-icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-airplane:before {
  content: '\e600'; }

.icon-cars:before {
  content: '\e601'; }

.icon-family:before {
  content: '\e602'; }

.icon-mountains:before {
  content: '\e603'; }

.icon-sun:before {
  content: '\e604'; }

.icon-calendar:before {
  content: '\e605'; }

.icon-calendar-overview:before {
  content: '\e606'; }

.icon-clock:before {
  content: '\e607'; }

.icon-info:before {
  content: '\e610'; }

.icon-angle-left:before {
  content: '\e608'; }

.icon-angle-right:before {
  content: '\e609'; }

.icon-facebook:before {
  content: '\e60a'; }

.icon-facebook-square:before {
  content: '\e60b'; }

.icon-google-plus:before {
  content: '\e60c'; }

.icon-google-plus-square:before {
  content: '\e60d'; }

.icon-twitter:before {
  content: '\e60e'; }

.icon-twitter-square:before {
  content: '\e60f'; }

.icon-xs {
  font-size: 50%; }

.icon-sm {
  font-size: 75%; }

.icon-lg {
  font-size: 150%; }

.icon-xl {
  font-size: 200%; }

body {
  margin: 0;
  font-size: 12px; }
  @media screen and (min-width: 480px) {
    body {
      font-size: 14px; } }
  @media (min-width: 960px) {
    body {
      background-color: #eeeeee;
      font-size: 16px; } }

body > * {
  width: 100%; }

body > header {
  width: 100%; }
  @media (min-width: 960px) {
    body > header {
      max-width: 1400px;
      margin: 0 auto;
      background-color: #FFF; } }
  body > header nav {
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 107px;
    background: -webkit-linear-gradient(#FFF 0%, #FFF 88%, #ed1c2e 88%, #ed1c2e 90%, #FFF 90%, #FFF 92%, #f99500 92%, #f99500 95%, #FFF 95%, #FFF 97%, #20a0de 97%, #20a0de 100%, #FFF 100%);
    z-index: 1;
    position: relative; }
    @media (min-width: 960px) {
      body > header nav {
        height: 87px; } }
    body > header nav .logo {
      /*width: 90%;
      height: auto;
      display: block;
      position: absolute;
      left: 5%;
      bottom: -20px;*/
      max-width: 300px;
      margin: 0 auto;
      display: block;
      padding: 0;
      margin-top: 20px;
      position: relative;
      width: auto;
      max-height: 75px;
      left: auto;
      padding-top: 50px; }
      @media (min-width: 480px) {
        body > header nav .logo {
          width: 240px; } }
      @media (min-width: 960px) {
        body > header nav .logo {
          width: 240px;
          margin: 0 0 0 30px;
          display: inline-block;
          padding-top: 35px;
          padding-left: 10px;
          vertical-align: top; } }
    body > header nav p {
      display: none;
      color: #FFF; }
      @media (min-width: 960px) {
        body > header nav p {
          display: inline-block;
          color: #ed1c2e;
          padding-left: 330px;
          padding-top: 30px; } }
    body > header nav ul {
      float: right;
      display: none;
      margin: 0px;
      padding: 0px;
      list-style: none; }
      @media (min-width: 960px) {
        body > header nav ul {
          display: block; } }
      body > header nav ul li {
        display: inline-block;
        padding-top: 35px; }
  body > header .main_image {
    background-image: url("../img/sunweb-wave.svg"), url("../img/header_mobile.jpg");
    background-repeat: no-repeat;
    background-position: bottom 60px left, top right -20px;
    background-size: 100% auto, auto 100%;
    height: 275px;
    position: relative; }
    @media (min-width: 450px) and (max-width: 480px) {
      body > header .main_image {
        background-position: bottom 60px left, top right;
        background-size: 100% auto, 100% auto; } }
    @media (min-width: 480px) {
      body > header .main_image {
        background-image: url("../img/sunweb-wave-tab.svg"), url("../img/header_tablet.jpg");
        background-position: bottom 0px left, top -25px center;
        background-size: 100% auto, auto 100%;
        height: 384px; } }
    @media (min-width: 800px) and (max-width: 960px) {
      body > header .main_image {
        background-position: bottom 0px left, bottom 30px right;
        background-size: 100% auto, 100% auto; } }
    @media (min-width: 960px) {
      body > header .main_image {
        height: 425px;
        background-image: url("../img/summer-wave-desktop.svg"), url("../img/header_desktop.jpg");
        background-size: 100% 20%  , auto 100%; } }
    body > header .main_image p {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0;
      text-align: center;
      background-color: #fbeb2e;
      color: #333;
      font-family: "Pacifico", Verdana, Arial, sans-serif;
      font-size: 1.83em;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8);
      padding-top: 6px;
      padding-bottom: 15px; }
      @media screen and (min-width: 480px) {
        body > header .main_image p {
          position: absolute;
          top: 50px;
          left: 10px;
          background-color: initial;
          font-size: 3.5em;
          width: 350px;
          text-align: right;
          line-height: 130%;
          text-shadow: none; }
          body > header .main_image p > span {
            margin-left: 110px;
            display: inline-block; } }
      @media screen and (min-width: 960px) {
        body > header .main_image p {
          text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 20px rgba(255, 255, 255, 0.8), 0px 0px 20px rgba(255, 255, 255, 0.8), 0px 0px 20px rgba(255, 255, 255, 0.8); } }

.main_content {
  color: #333;
  text-align: center;
  width: 100%; }
  @media (min-width: 960px) {
    .main_content {
      max-width: 1400px;
      margin: 0 auto;
      background-color: #FFF;
      padding-bottom: 30px; } }
  .main_content header > h1 {
    font-family: "Sansa Pro", Verdana, Arial, sans-serif;
    font-size: 2.16em;
    margin-top: 20px; }
    @media (min-width: 960px) {
      .main_content header > h1 {
        padding-top: 30px; } }
  .main_content .copy {
    color: #ed1c2e;
    font-family: "Sansa Pro", Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.5em; }
  .main_content p {
    font-size: 1.33em;
    padding: 0 15px;
    line-height: 150%; }
    @media (min-width: 960px) {
      .main_content p {
        padding: 0px 25px;
        max-width: 965px;
        margin: 0 auto 20px auto; } }
  .main_content a {
    color: #20a0de; }
  .main_content .button {
    background-color: #ed1c2e;
    color: #FFF;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Sansa Pro", Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.08em;
    margin: 50px auto;
    display: block;
    width: 190px;
    padding: 10px 15px; }

footer {
  background-color: #eeeeee;
  text-align: center;
  position: relative;
  padding-top: 170px; }
  @media (min-width: 480px) {
    footer {
      text-align: left; } }
  @media (min-width: 960px) {
    footer {
      padding-top: 170px; } }
  footer .footer_logo {
    width: 50%;
    position: absolute;
    left: 40px;
    top: 75px; }
    @media (min-width: 480px) {
      footer .footer_logo {
        width: 175px;
        top: 110px; } }
  footer .weave {
    color: #ed1c2e;
    background-image: url("../img/sunweb-wave.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    padding-top: 10px;
    height: auto;
    margin-top: -70px; }
    @media (min-width: 480px) {
      footer .weave {
        height: 75px;
        margin-top: -100px;
        background-position: bottom center; } }
    footer .weave p {
      margin: 0px;
      background-color: #fbeb2e;
      font-family: "Fords Folly", Verdana, Arial, sans-serif;
      font-size: 1.83em;
      padding: 20px 30px 20px 30px; }
      @media screen and (min-width: 480px) {
        footer .weave p {
          background-color: initial;
          padding: 20px 15px 20px 15px;
          margin-top: -110px; } }
      @media screen and (min-width: 750px) {
        footer .weave p {
          margin-top: -15px;
          padding-left: 30%; } }
      @media screen and (min-width: 960px) {
        footer .weave p {
          margin-top: -25px; } }
    @media screen and (min-width: 960px) {
      footer .weave {
        margin-top: -80px; } }
  footer .columns_wrapper {
    width: 100%;
    background-color: #fbeb2e;
    padding-top: 25px; }
  footer .columns_inner_wrapper {
    position: relative; }
    @media (min-width: 480px) {
      footer .columns_inner_wrapper {
        padding-top: 30px; } }
    @media (min-width: 960px) {
      footer .columns_inner_wrapper {
        max-width: 1400px;
        margin: 0 auto; } }
  footer .column {
    display: inline-block;
    width: 100%; }
    @media screen and (min-width: 480px) {
      footer .column {
        width: 24%;
        padding: 0 4%;
        vertical-align: top; } }
  @media screen and (min-width: 480px) {
    footer .col_a {
      width: 16%; } }
  footer .col_b {
    width: 100%; }
    @media screen and (min-width: 480px) {
      footer .col_b {
        width: 20%; } }
  footer .col_c {
    width: 35%; }
  @media screen and (min-width: 480px) {
    footer article {
      display: inline-block; } }
  footer article header {
    font-family: "Sansa Pro", Verdana, Arial, sans-serif;
    font-size: 0.91em;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase; }
    @media screen and (min-width: 480px) {
      footer article header {
        font-weight: 700; } }
  footer article ul {
    background-color: #fbeb2e;
    margin: 0;
    padding: 0px 0 30px 0;
    list-style: none; }
    footer article ul li {
      height: 25px; }
      footer article ul li a {
        color: #333;
        text-decoration: none; }
    @media screen and (min-width: 480px) {
      footer article ul {
        padding: 0px 0px 30px 0px; } }
  footer .footer_menu {
    width: 100%; }
  footer .vacaciones_mar {
    width: 100%; }
  footer .vacaciones_rutas {
    display: none; }
    @media screen and (min-width: 480px) {
      footer .vacaciones_rutas {
        display: inline-block; } }
  footer .social {
    margin-bottom: 30px; }
    footer .social a {
      color: #333;
      text-decoration: none; }
  footer .vacaciones_montana {
    display: none; }
    @media screen and (min-width: 480px) {
      footer .vacaciones_montana {
        display: inline-block; } }
  footer .contact {
    display: none; }
    @media screen and (min-width: 480px) {
      footer .contact {
        display: inline-block; } }
