@font-face {
  font-family: 'Sansa Pro Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sansa-pro-bold/sansa-pro-bold.eot");
  src: url("../fonts/sansa-pro-bold/sansa-pro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sansa-pro-bold/sansa-pro-bold.woff") format("woff"), url("../fonts/sansa-pro-bold/sansa-pro-bold.ttf") format("truetype"), url("../fonts/sansa-pro-bold/sansa-pro-bold.svg#sansa-pro-bold") format("svg"); }

.font-sansa-pro-bold {
  font-family: "Sansa Pro Bold", Verdana, Arial, sans-serif;
  font-weight: 700; }
