@import 'variables';
@import 'fonts';
@import 'mixins';

ul{
  padding: 0;
  list-style: none;
}

body{
  margin: 0;
  font-size: 13px;
  @media screen and (min-width: $tablet){
    font-size: 13px;
  }
  @media (min-width:$desktop){
    background-color: $gray;
    font-size: 14px;
}

//GENERAL WRAPPERS
}
body > * {
  width: 100%;
}
//MAIN HEADER
header{
  width: 100%;
  @include media-desktop {
    max-width: 1400px;
    margin: 0 auto;
    background-color: $white;
  }
  //**********************
  //HEADER TOP COLOR LINES
  //**********************
  & nav{
    height: 108px;
    background:-webkit-linear-gradient(#FFF 0px, #FFF 81px, #ed1c2e 81px, #ed1c2e 87px, #FFF 87px, #FFF 94px, #f99500 94px, #f99500 99px, #FFF 99px, #FFF 103px, #20a0de 103px, #20a0de 108px);
    z-index: 1;
    position: relative;
    @include media-tablet {
        height: 81px;
        background:-webkit-linear-gradient(#FFF 0px, #FFF 66px, #ed1c2e 66px, #ed1c2e 69px, #FFF 69px, #FFF 73px, #f99500 73px, #f99500 76px, #FFF 76px, #FFF 79px, #20a0de 79px, #20a0de 82px);
    }
    @include media-desktop {
        height: 81px;
        background:-webkit-linear-gradient(#FFF 0px, #FFF 66px, #ed1c2e 66px, #ed1c2e 69px, #FFF 69px, #FFF 73px, #f99500 73px, #f99500 76px, #FFF 76px, #FFF 79px, #20a0de 79px, #20a0de 82px);
    }
  }
  .logo {
    display: block;
    position: relative;
    left: auto;
    max-width: 300px;
    width: auto;
    max-height: 75px;
    margin: 20px auto 0 auto;
    padding:50px 0 0 0;
    @include media-tablet {
      display: inline-block;
      vertical-align: top;
      width: 240px;
      margin: 0 0 0 30px;
      padding-top: 35px;
      padding-left: 10px;
    }
    @include media-desktop {
      display:inline-block;
      vertical-align: top;
      width: 240px;
      margin: 0 0 0 30px;
      padding-top: 35px;
      padding-left: 10px;
    }
  }
  h2{
    display: none;
    font-family: $font-fords-folly;
    font-size: $title-font-size;
    color: $white;
    padding-top: 30px;
    margin-top: 5px;
    @include media-desktop {
      display: inline-block;
      font-size: $subtitle-font-size;
      color: $red;
      padding-left: 300px;
      padding-top: 24px;
      position: absolute;
      left: 0;
    }
  }
  ul{
    display: none;
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
    @include media-desktop {
      display: block;
    }
    li{
      display: inline-block;
      padding-top: 25px;
      padding-right: 7px;
    }
  }
}
//************
//HEADER IMAGE
//************
.main_image{
  background-image:  url('../img/sunweb-wave.svg'), url('../img/header_mobile.jpg');
  background-repeat: no-repeat;
  background-position: bottom 60px left, top right -20px;
  background-size: 100% auto, auto 100%;
  height: 275px;
  position: relative;
  @media (min-width:450px) and (max-width:$tablet){
    background-position: bottom 60px left, top right;
    background-size: 100% auto, 100% auto;
  }
  @include media-tablet {
    background-image:  url('../img/wave-tab.png'), url('../img/header_tablet.jpg');
    background-size: 100% auto, auto 98.5%;
    background-position: bottom 0px left, top -25px center;
    background-size: 100% auto, auto 100%;
    height: 384px;
  }
  @media (min-width:800px) and (max-width:$desktop){
    background-position: bottom 0px left, bottom 30px right;
    background-size: 100% auto, 100%;
  }
  @include media-desktop{
    height: 425px;
    background-position: bottom 0px left, bottom 34px right;
    background-image:  url('../img/wave-desk.png'), url('../img/header_desktop.jpg');
  }
  h1{
    display: block;
    position: absolute;
    bottom:0;
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: $yellow;
    color: $black;
    font-family: $font-pacifico;
    font-size: $title-font-size;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8);
    padding-top: 6px;
    padding-bottom: 15px;
    @media screen and (min-width:$tablet){
      position: absolute;
      top: 50px;
      left: 10px;
      background-color: initial;
      font-size: $uverbig-font-size;
      width: 350px;
      text-align: right;
      line-height: 130%;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
      & > span{
        margin-left:110px;
        display: inline-block;
      }
    }
    @media screen and (min-width:$desktop){
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 20px rgba(255, 255, 255, 0.8), 0px 0px 20px rgba(255, 255, 255, 0.8), 0px 0px 20px rgba(255, 255, 255, 0.8);
    }
  }
}
//************
//MAIN CONTENT
//************
.main_content{
  color: $black;
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 170px;
  @include media-desktop {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 190px;
    background-color: $white;
    padding-bottom: 30px;
  }
  h3{
    font-family: $font-sansa-pro;
    font-size: $header-font-size;
    margin-top: 20px;
    @include media-desktop {
      margin-top: 0px;
      padding-top: 20px;
    }
  }
  .copy{
    font-family: $font-sansa-pro;
    font-size: $subtitle-font-size;
    font-weight: 700;
    color: $red;
  }
  p{
    font-family: "Verdana", sans-serif;
    font-size: $bigger-font-size;
    line-height: 150%;
    padding: 0 15px;
    @include media-desktop {
      padding: 0px 25px;
      max-width: 960px;
      margin: 0 auto 20px auto;
    }
  }
  a{
    color: $blue;
  }
  .button{
    font-family: $font-sansa-pro;
    font-size: $bigger-font-size;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;

    background-color: $red;
    border-radius: 10px;
    margin: 50px auto;
    display: block;
    width: 190px;
    padding: 10px 15px;
  }
}
//******
//FOOTER
//******
.footer{
  background-color: $gray;
  text-align: center;
  position: relative;
  padding-top: 110px;
  @media (min-width:$tablet){
    text-align: left;
    padding-top: 150px;
  }
  @media (min-width:$desktop){
    padding-top: 170px;
  }
}
//************
//FOOTER TYPOS
//************
.footer_content_wrapper, .footer_menu{
  h4.header{
    font-family: $font-sansa-pro;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
  }
  li{
    margin-bottom: 10px;
    a{
      font-family: "Verdana", sans-serif;
      color: $black;
      text-decoration: none;
    }
  }
}
.weave{
  font-family: $font-fords-folly;
  color: $red;
  text-align: center;
  background-color: $gray;
}
//***************
//FOOTER WRAPPERS
//***************
.weave{
  background-image:  url('../img/sunweb-wave.svg');
  //background-size: 100% auto;
  background-size: 2300px auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-top: -150px;
  height: 125px;
  position: relative;
  @include media-tablet {
    height: 155px;
    margin-top: -180px;
  }
  @include media-desktop {

  }
  h2{
    top: 120px;
    position: absolute;
    width: 100%;
    text-align: center;
    @include media-tablet {
      top: 20px;
      text-align: center;
      width: 100%;
    }
    @include media-desktop {
      top: 0px;
      text-align: center;
      width: 100%;
    }
  }
}
.footer_menu{
  padding-top: 70px;
  margin-top: 30px;
  @include media-tablet {
    padding-top: 0px;
  }
  @include media-desktop {
    padding-top: 0px;
  }
}
.footer_content{
  background-color: $yellow;
  padding-top: 25px;
  width: 100%;
}

//******************************
//FOOTER COLUMN WIDTH & PADDINGS
//******************************
.columns_inner_wrapper{
  position: relative;
  display: flex;
  text-align: center;
  @include media-tablet {
    max-width: 920px;
    margin: 0 auto;
    text-align: left;
  }
  @include media-desktop {
    max-width: 920px;
    margin: 0 auto;
    text-align: left;
  }
}
.col_a{
  width: 100%;
  @include media-tablet {
    padding-left: 30px;
    width: 25%;
  }
  @include media-desktop {
    padding-left: 0px;
    width: 25%;
  }
}
.col_b{
  display: none;
  @include media-tablet {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
  }
  @include media-desktop {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
  }
}
.sea_holidays{
  @include media-tablet {
    width:50%;
  }
  @include media-desktop {
    width:33%;
  }
}
.mountain_holidays{
  @include media-tablet {
    width:50%;
  }
  @include media-desktop {
    width:33%;
  }
}
.routes_holidays{
  @include media-tablet {
    width:100%;
  }
  @include media-desktop {
    width:33%;
  }
}
.social{
  li{
    display: inline-block;
  }
  @include media-tablet {
    width:50%;
  }
  @include media-desktop {
    width:33%;
  }
}
.contact{
  @include media-tablet {
    width:50%;
  }
  @include media-desktop {
    width:66%;
  }
}

.footer_logo{
  width: 170px;
  height: auto;
  position: absolute;
  top: -40px;
  left: 20%;
  @include media-tablet {
    left: 20px;
    width: 175px;
    top: -70px;
  }
  @include media-desktop {
    left: -20px;
    top: -110px;
  }
}
